

.image-container{
    display: flex;
}
.welcome-text{
    display: flex;
   justify-content: center;
   
}

.transaction-image img{
    max-height: 600px;
    cursor: pointer;
    padding-left: 70px;
}
.statement-image img{
    max-height: 600px;
    cursor: pointer;

}
.account-image img{
    max-height: 600px;
    cursor: pointer;

}
.footer{
    display: flex;
    justify-content: space-between;
   padding-left: 230px;
   padding-right: 225px;
}